body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d9d9d9;

}

.Calculator {
    width: 400px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
}

.title-bar {
    display: flex;
    padding: 0 15px;
    justify-content: space-between;

}

.title-bar h3 {
    font-size: 15px;
    width: fit-content;
    font-weight: normal;
}

.control {
    display: flex;
    margin-top: 10px;
    height: fit-content;
    gap: 10px;

}

.minimize,
.maximize,
.close {
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
    background: none;
}

.body-calculator {
    padding: 0 15px;

}

.mode-selector {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.hamburger {
    background: none;
    border: none;
    font-size: xx-large;
    cursor: pointer;

}

.mode {
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
}

.history {
    margin-left: 170px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
}

.display {
    text-align: right;
    height: 150px;
    margin-bottom: 10px;
}

.equation {
    font-size: 20px;
    color: #4d4d4d;
    margin: 0;
    padding-top: 20px;
    height: 50px;
}

.result {
    font-size: 50px;
    margin: 0;
    color: black;
    height: 80px;
}

.memory-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.memory-btn {
    width: 48px;
    height: 40px;
    background-color: #e6e6e6;
    border: none;
    cursor: pointer;
    font-size: 18px;
    background: none;
    border: none;
    font-weight: 400;
}

.memory-btn:hover {
    background-color: #cccccc;
}

.memory-btn:disabled {
    color: #999999;
    cursor: not-allowed;
}

.buttons {

    background: #999999;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.btn {
    width: max;
    height: 70px;
    font-size: larger;
    cursor: pointer;
}
.num{
    background: rgb(255, 255, 255);
    border-color: #e6e6e6;
    font-weight: bold;
}
.num:hover{
    background: #e6e6e6;
}